/* Reset defaults */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f7f3ef;
  font-family: sans-serif;
}

/* Flex layout for full-page layout */
.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* This will let content grow and push footer down */
.app-layout > *:not(:last-child) {
  flex-shrink: 0;
}

.app-layout > .features {
  flex-grow: 1;
}
