.footer {
    background-color: #91b98b; /* Light green background */
    padding: 3rem 2rem;
    color: #fcfdfc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  
  .footer-logo {
    font-family: "Satoshi", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
  }
  
  .footer-bottom {
    font-family: "Satoshi", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    color: #ffffff;
  }
  